html, body {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%; }

.header {
  height: 1109px;
  background-color: #1B3764; }
  .header .header-line {
    height: 110px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between; }
  .header .left-side {
    display: flex;
    align-items: center; }
    .header .left-side .logo_img {
      height: 28px;
      width: 24.5px; }
    .header .left-side .pages_img {
      height: 26.4px;
      width: 81.4px;
      margin-left: 10px; }
  .header ul {
    margin-left: 38px; }
    .header ul li {
      display: inline-block;
      color: #F5F8FC; }
    .header ul.social li {
      width: 45px;
      height: 45px;
      background-color: #fff;
      line-height: 45px;
      text-align: center; }
  .header .right-side {
    display: flex;
    align-items: center; }
    .header .right-side nav.menu ul li {
      margin-right: 50px;
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.17px; }
      .header .right-side nav.menu ul li:hover {
        color: #FFCA42; }
    .header .right-side .order {
      color: #1B3764;
      background-color: #FFCA42;
      padding: 18px 52px;
      text-decoration: none; }
  .header .main {
    padding: 99px 91px 100px 93px;
    display: flex; }
    .header .main .left {
      width: 664px; }
      .header .main .left .hr {
        display: flex;
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 36px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-top: 146px; }
        .header .main .left .hr div {
          width: 35px;
          height: 3px;
          background-color: #FFCA42;
          margin-top: 16px;
          margin-right: 14px; }
      .header .main .left h2 {
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 1.3px;
        color: #FFFFFF;
        padding-top: 10px; }
      .header .main .left p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #B4C7E7;
        padding-top: 24px; }
      .header .main .left button {
        width: 222px;
        height: 66px;
        margin-top: 42px;
        background-color: #1B3764;
        border: 0;
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0.38px;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: underline;
        text-underline-offset: 6px; }
        .header .main .left button:hover {
          background-color: #FFCA42;
          color: #1B3764;
          text-decoration: none; }
      .header .main .left div.specification {
        display: flex;
        padding-top: 47px; }
        .header .main .left div.specification .about_books {
          display: flex;
          font-family: 'Cardo';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.48px;
          color: #FFFFFF; }
          .header .main .left div.specification .about_books .button {
            width: 16px;
            height: 16px;
            background-color: #FFCA42;
            border-radius: 50%;
            margin-top: 7px;
            margin-right: 10px; }
          .header .main .left div.specification .about_books .text {
            padding-right: 70px; }
      .header .main .left div.more_specification {
        display: flex;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #B4C7E7;
        padding-top: 12px; }
        .header .main .left div.more_specification div {
          padding-left: 24px;
          padding-right: 80px; }

.books {
  height: 805px;
  background-color: #F5F5F5;
  padding-left: 80px;
  padding-right: 80px; }
  .books h3 {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #1B3764;
    padding-top: 125px; }
  .books hr {
    height: 3px;
    width: 50px;
    background-color: #FFCA42;
    margin: 23px 50% 70px 50%; }
  .books .two_books {
    display: flex; }
  .books .post_books {
    display: flex; }
    .books .post_books li {
      list-style-type: none; }
    .books .post_books img {
      height: 382px;
      width: 285px;
      margin-right: 30px; }
    .books .post_books .name_of_book {
      font-family: 'Cardo';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.32px;
      color: #1B3764;
      padding-top: 38px; }
    .books .post_books .cost {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 33px;
      color: #FFCA42;
      padding-top: 7px; }
    .books .post_books .about_book {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      color: #969AA0;
      padding-right: 48px;
      padding-top: 17px;
      padding-bottom: 13px; }
    .books .post_books .point {
      display: flex;
      font-family: 'Cardo';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #1B3764; }
      .books .post_books .point div {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #FFCA42;
        margin-right: 10px;
        margin-top: 6px; }

.author {
  height: 960px;
  background-color: #F5F8FC;
  padding: 150px 90px 140px 40px;
  display: flex; }
  .author img.photo_reader {
    height: 620px;
    width: 525px;
    position: absolute;
    z-index: 1; }
  .author div.yellow_border {
    border: 10px solid #FFCA42;
    height: 620px;
    width: 525px;
    position: relative;
    top: 30px;
    left: 30px; }
  .author .about_writer {
    padding-left: 200px; }
    .author .about_writer h3 {
      font-family: 'Cardo';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 50px;
      text-transform: capitalize;
      color: #1B3764;
      padding-top: 46px; }
    .author .about_writer hr {
      height: 3px;
      width: 50px;
      background-color: #FFCA42;
      margin-top: 23px; }
    .author .about_writer p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 34px;
      color: #969AA0;
      padding-top: 33px;
      padding-right: 126px; }
    .author .about_writer ul.numbers {
      display: flex;
      padding-top: 33px;
      list-style-type: none; }
      .author .about_writer ul.numbers hr {
        width: 1px;
        height: 98px;
        background-color: #FFCA42;
        margin-right: 33px; }
      .author .about_writer ul.numbers h4 {
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 77px;
        color: #1B3764; }
      .author .about_writer ul.numbers p.numbers {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #969AA0;
        padding-top: 1px;
        padding-right: 40px; }
    .author .about_writer div.qrq {
      width: 484px;
      height: 161px;
      background-color: #1B3764;
      margin-top: 54px;
      display: flex; }
      .author .about_writer div.qrq img {
        height: 130px;
        width: 130px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 40px; }
      .author .about_writer div.qrq h5 {
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #FFCA42;
        padding-top: 37px;
        padding-bottom: 6px; }
      .author .about_writer div.qrq p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #B4C7E7;
        padding-right: 0px;
        padding-top: 4px; }

.trusted {
  height: 637px;
  background-color: #F5F5F5; }
  .trusted h3 {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #1B3764;
    padding-top: 126px; }
  .trusted hr {
    height: 3px;
    width: 50px;
    background-color: #FFCA42;
    margin: 23px 50% 50px 50%; }
  .trusted ul {
    display: flex;
    list-style: none;
    padding-left: 78px;
    padding-right: 73px;
    gap: 47px; }
    .trusted ul img {
      height: 100px;
      width: 189px;
      display: block;
      margin: auto; }
    .trusted ul h6 {
      font-family: 'Cardo';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #1B3764;
      padding-top: 22px; }
    .trusted ul p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      text-align: center;
      color: #969AA0;
      padding-top: 19px; }

.get-book {
  height: 534px;
  background-color: #1B3764;
  display: flex;
  justify-content: space-between;
  padding: 70px; }
  .get-book h2 {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-transform: capitalize;
    color: #fff;
    padding-top: 71px; }
  .get-book hr {
    height: 3px;
    width: 50px;
    background-color: #FFCA42;
    margin-top: 24px; }
  .get-book p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #B4C7E7;
    padding-top: 27px; }
  .get-book img {
    height: 394px;
    width: 560px;
    object-fit: cover; }

.what-will {
  height: 1075px;
  background-color: #F5F5F5; }

.articles {
  height: 1045px;
  background-color: #F4F8FF; }

.footer {
  height: 486px;
  background-color: #1B3764; }
